#Skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  width: 60%;
  max-width: 20rem;
  border: 2px solid white;
  border-radius: 9px;
  padding: 10px 20px;
}

#Skills-holder {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

#skill-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.seperator {
  width: 100%;
  height: 0.2rem;
  background-color: white;
  border-radius: 50px;
  margin: 1rem 0;
}
