/* #navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
}

#navbar {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 253, 253, 1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin: 20px 0px;
  padding: 0px 50px;
  border-radius: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(9.3px);
  align-items: center;
  width: 60%;
}

/* Navigations items */
/* #nav-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#nav-items {
  flex-direction: row;
  gap: 60px;
  align-items: center;
  width: auto;
} */

/* Navigation sub-items */
/* #nav-icon {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.nav-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ffffff;
  stroke: 1px solid black;
  font-size: 25px;
}

.NavButton {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  height: 35px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #ff7f11;
  color: #ffffff;
}

.NavButton:hover {
  background-color: black;
  color: white;
  border: 2px dashed white;
}

@media (max-width: 1300px) {
  #navbar {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .nav-text{
    font-size: 20px;
  }

  #navbar{
    padding: 0px 20px;
    width: 80%;
  }

  #nav-items{
    display: none;
  }

  .NavButton{
    display: none;
  }
}

@media (min-width: 900px) {
  #nav-items{
    display: flex;
  }
}  */