#lang-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid white;
    border-radius: 9px;
    padding: 10px 20px;
}

.Lang-select {
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    border-radius: 7px;
    padding: 5px 10px;
}

.Lang-select:hover {
    text-shadow: 0 0 2px #FFE1BA;
    box-shadow: 0 0 7px white;
}

.Lang-title {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.Lang-level {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}