/* Default - always seen */
#Hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

#Hero-wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Hero-img {
  height: 100%;
  max-height: 20rem;
  width: 100%;
  max-width: 20rem;
  border-radius: 100%;
  border: 2px solid white;
}

#Hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 45rem;
}

/* Hero text content */
#Hero-head {
  font-family: "inter", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#Hero-important {
  font-family: "Elsie", serif;
  font-weight: 900;
  color: #ffc08a;
  margin-left: -1px;
}

#hero-divider {
  margin-top: 3px;
  width: 80%;
  border: 2px solid white;
}

#Hero-p {
  margin-top: 0;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
}

/* ======= Animations ======== */

#wrapper {
  margin-top: 1.25rem;
  position: relative;
  width: 60%;
  max-width: 1000px;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;

  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 8rem;
  padding: 3px 22px;
  border-radius: 150px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.048);

  font-family: "Playfair", serif;
  font-size: 1.25rem;
  text-wrap: nowrap;
}

.item:hover {
  background-color: rgb(85, 85, 85);
  color: white;
  border: 2px dashed white;
}

/* Hero Buttons */

#Hero-buttons {
  margin-top: 10px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;

  height: 3rem;
  width: 11rem;
  padding: 0 15px;

  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
}

/* Utility Classes */

.button-divider {
  height: 50%;
  border: 1px solid black;
}

/* Buttons */
.btn1 {
  background-color: #ffc08a;
  border: 2px solid black;
  border-radius: 7px;
}

.btn1:hover {
  box-shadow: 0 0 10px #ffc08a;
  cursor: pointer;
}

/* =======  Desktop  ========= */

@media (min-width: 1000px) {
  #Hero-wrapper {
    width: 1000px;
  }
}

/* ======== tablet & mobile =========== */

@media (max-width: 1000px) {
  #Hero-wrapper {
    width: 100%;
  }

  #Hero-head {
    font-size: 1.75rem;
  }

  #Hero-p {
    font-size: 1.25rem;
  }

  .item {
    font-size: 1rem;
  }

  .hero-btn {
    width: 10rem;
    font-size: 1rem;
  }

  .btn1:hover {
    box-shadow: 0 0 5px #ffc08a;
    cursor: pointer;
    width: 11rem;
    height: 3.2rem;
  }
}

@media (max-width: 500px) {
  #Hero-img {
    width: auto;
    width: 15rem;
    height: auto;
    height: 15rem;
  }

  #Hero-p {
    width: 80%;
  }
}
