/* Default - Always seen */
#navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
}

#navbar {
  padding: 0px 10px;
  margin: 20px 0px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 253, 253, 1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  align-items: center;
  width: 70%;
}

#nav-title {
  margin-left: 20px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#nav-items {
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 500px;
}

/* Navigation sub-items */
/* #nav-icon {
    width: 40px;
    height: 40px;
    border-radius: 100px;
} */

.nav-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
}

#contact-button{
  color: #6b3200;
  background-color: white;
  border-radius: 50px;
  padding: 10px 20px;
  text-align: center;
  width: 120px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

#contact-btn{
  color: inherit;
}

#contact-button:hover{
  background-color: #F8DC9E;
  color: black;
}

/* =======  Desktop  ========= */


@media (min-width: 1000px) {
  #navbar {
    width: 70%;
  }

  #nav-items {
    display: flex;
  }

  .NavButton{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    height: 30px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }

  .NavButton:hover {
    font-weight: 700;
  }
}

/* ======== tablet & mobile =========== */


@media (max-width: 1000px) {

  #nav-items {
    display: none;
  }

  .nav-text{
    font-size: 20px;
  }
}
