@import "tailwindcss";

body {
    background-color: #222222;
    margin: 0;
}

a {
    text-decoration: none;
}

#warning {
    margin-bottom: 10px;
    background-color: #ffcc00;
    color: #000;
    text-align: center;
    padding: 10px 0;
    font-family: Arial, sans-serif;
}