body {
    background-color: #222222;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    border-radius: 0;
}

#warning {
    background-color: #ffcc00;
    color: #000;
    text-align: center;
    padding: 10px 0;
    font-family: Arial, sans-serif;
}